<mat-toolbar class="header" color="primary">
  <button (click)="toggleSidenav.emit()" mat-icon-button>
    <mat-icon class="icon">{{ isSidebarOpen ? "close" : "menu" }}</mat-icon>
  </button>
  <span [routerLink]="['/']" class="title">Schulgong</span>
  <span class="dash">—</span>
  <span class="routing-link">{{ currentRouteName }}</span>
  <span class="spacer"></span>
  <span class="username">Admin</span>
  <span></span>

  <mat-icon
    [matMenuTriggerFor]="menu"
    aria-label="User Profile"
    class="clickable-icon"
    style="height: 64px; width: 70px"
    >account_circle
  </mat-icon>
  <!-- Menu which is called on mat-icon (User profile icon) -->
  <mat-menu #menu="matMenu">
    <button (click)="onLogout()" class="menu-icon" mat-menu-item>
      <mat-icon class="menu-icon-person">logout</mat-icon>
      Abmelden
    </button>
  </mat-menu>
</mat-toolbar>
