<app-hero-image [imageUrl]="holidayHeroImage"></app-hero-image>

<div class="container">
  <div class="button">
    <app-button
      (btnClick)="holidayAddDialog()"
      [height]="40"
      [hoverActive]="true"
      [width]=ButtonWidths.addButton
      bgColor="#F29D38"
      class="uploadBtn"
      hoverColor="#FFA24A"
      icon="add"
      matTooltip="Hinzufügen"
      title="uploadBtn"
      text="{{ButtonValue.addButton}}"
    ></app-button>
  </div>
  <div class="content-container">
    <app-grid-cards
      (delete)="onDeleteHoliday($event)"
      (edit)="onEditHoliday($event)"
      [cards]="cardLength$ | async"
      [cards_height]="220"
      [cards_width]="330"
      [index]="true"
      [matCardContentParagraphs]="holidayPeriod$ | async"
      [matCardTitle]="holidayName$ | async"
      [showButtonContainer]="true"
      [showDeleteButton]="true"
      [showEditButton]="true"
    ></app-grid-cards>
  </div>
</div>
