<app-hero-image [imageUrl]="holidayHeroImage"></app-hero-image>

<div class="container">
  <div>
    <div class="button">
      <app-button
        (btnClick)="holidayAddDialog()"
        [height]=ButtonHeight.addButton
        [hoverActive]="true"
        [width]=ButtonWidths.addButton
        bgColor="#F29D38"
        class="uploadBtn"
        hoverColor="#FFA24A"
        icon="add"
        title="uploadBtn"
        text="{{ButtonValue.addButton}}"
      ></app-button>
    </div>
    <div class="button">
      <app-button
        (btnClick)="onDeleteAllHolidays()"
        [disabled]="disableDeleteAllBtn$ | async"
        [height]=ButtonHeight.deleteAllButton
        [hoverActive]="true"
        [width]=ButtonWidths.deleteAllButton
        bgColor="#EB3223"
        class="deleteBtn"
        hoverColor="#FF3626"
        icon="delete"
        title="deleteAllBtn"
        text="{{ButtonValue.deleteAllButton}}"
      ></app-button>
    </div>
  </div>
  <div class="content-container">
    <app-grid-cards
      (delete)="onDeleteHoliday($event)"
      (edit)="onEditHoliday($event)"
      [cards]="cardLength$ | async"
      [cards_height]="220"
      [cards_width]="330"
      [index]="true"
      [matCardContentParagraphs]="holidayPeriod$ | async"
      [matCardTitle]="holidayName$ | async"
      [showButtonContainer]="true"
      [showDeleteButton]="true"
      [showEditButton]="true"
    ></app-grid-cards>
  </div>
</div>
