.settingsCard {
  width: 100%;
}

mat-label {
  font-size: 13px;
}

.inputLabels {
  font-weight: bold;
  display: block;
  //min-width: 300px;
}

.inputFields {
  width: 100%;
  height: 30px;
  margin-top: 5px;
}

.main-grid-content-password {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(1, 1fr 1fr 1fr 200px);
  grid-column-gap: 20px;
  justify-content: center;
  justify-items: center;
}

.main-grid-content-volume {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(1, 1fr 1fr 1fr);
  grid-column-gap: 20px;
  justify-content: center;
  justify-items: center;
}

.main-grid-content-music {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(1, 1fr 1fr);
  grid-column-gap: 20px;
  justify-content: center;
  justify-items: center;
}

.grid-column {
  width: 100%;
  height: 76px;
}

.slider-container {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

/*
 * Style for the app-button
*/
:host ::ng-deep app-button .btn {
  border-radius: 24px !important;
}

/*
 * Style for the divider
*/
.divider {
  height: 4px;
  color: #f29d38;
  background-color: #f29d38;
  border: none;
  border-radius: 20px;
}

/*
 * Icon color style
*/
.icon-color {
  color: #f29d38;
}

/*
 * Style for icons
*/
.icon-display {
  transform: scale(2);
}

/*
 * Style for the volume slider
*/
.mat-slider-style {
  margin-left: 20px;
  width: 75%;
}

/*
 * Styles for the mat-slider
*/
:host ::ng-deep .mat-mdc-slider.mat-primary {
  --mdc-slider-handle-color: #f29d38;
  --mdc-slider-focus-handle-color: #f29d38;
  --mdc-slider-hover-handle-color: #f29d38;
  --mdc-slider-active-track-color: #f29d38;
  --mdc-slider-inactive-track-color: rgba(105, 105, 105, 0.5);

  --mdc-slider-with-tick-marks-active-container-color: #f29d38;
  --mdc-slider-with-tick-marks-inactive-container-color: rgba(
    255,
    255,
    255,
    0.002
  );

  --mat-mdc-slider-ripple-color: #f29d38;
  --mat-mdc-slider-hover-ripple-color: rgba(242, 157, 56, 0.05);
  --mat-mdc-slider-focus-ripple-color: rgba(242, 157, 56, 0.2);
  --mdc-slider-inactive-track-height: 12px;
  --mdc-slider-active-track-height: 12px;
}

/*
 * Media Query for mobile devices
*/
@media screen and (max-width: 992px) {
  .main-grid-content-password {
    grid-template-columns: repeat(1, 1fr 1fr 1fr);
    grid-column-gap: 20px;
    justify-content: left;
    justify-items: left;
  }

  .error-message,
  .success-message {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/*
 * Media Query for mobile devices
*/
@media screen and (max-width: 768px) {
  .main-grid-content-password {
    grid-template-columns: repeat(1, 1fr 1fr);
    grid-column-gap: 20px;
  }
  .main-grid-content-volume {
    grid-template-columns: repeat(1, 1fr 1fr);
    grid-column-gap: 20px;
  }
  .main-grid-content-music {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 20px;
  }

  .error-message,
  .success-message {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/*
 * Media Query for mobile devices
*/
@media screen and (max-width: 576px) {
  .main-grid-content-password {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 20px;
  }
  .main-grid-content-volume {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 20px;
  }

  .error-message,
  .success-message {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/*
  * Styles for error-message
  */
.error-message {
  display: flex;
  align-items: center;
  color: #f44336;
  font-size: 1rem;
  padding: 10px;
  border: 1px solid #f44336;
  border-radius: 4px;
  background-color: #ffebee;
  max-width: fit-content;
}

/*
    * Styles for error-icon
    */
.error-icon {
  margin-right: 10px;
}

/*
 * Styles for success-message
 */
.success-message {
  display: flex;
  align-items: center;
  color: #4caf50;
  font-size: 1rem;
  padding: 10px;
  border: 1px solid #4caf50;
  border-radius: 4px;
  background-color: #e8f5e9;
  max-width: fit-content;
}

/*
 * Styles for success-icon
 */
.success-icon {
  margin-right: 10px;
}

/*
* Styles for the loading spinner
*/
.mat-spinner {
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #f29d38;
}

.form-container {
  position: relative;
}

.overlay-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 105%;
  background: #fafafa;
  z-index: 20;
}

.mat-spinner {
  z-index: 30;
}
