/**
- author: Thomas Forjan, Philipp Wildzeiss, Martin Kral
- version: 0.0.1
- date: 06.04.2023
- description: Grid cards styles
*/

/**
  * Grid container style properties
*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(var(--columns, 3), minmax(0, 1fr));
  grid-gap: 150px;
  align-items: center;
}

/**
  * Grid item style properties
*/
.grid-item {
  box-sizing: border-box;
}

/**
  * Card style properties
*/
.card {
  display: flex;
  flex-direction: column;
  width: var(--card-width, 330px);
  height: var(--card-height, 220px);
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  /**
    * This is the hover and active effect for the card.
  */
  &.hover-active {
    cursor: pointer;
    &:hover {
      background-color: rgba(80, 80, 80, 0.1);
    }
    &:active {
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
      .card-icon {
        transform: translateY(5px);
      }
    }
  }
}

/**
  * Card content style properties
*/
.mat-card-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/**
  * Image container style properties
*/
.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/**
  * Index circle style properties
*/
.index-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  min-height: 24px;
  min-width: 24px;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: #f29d38;
  margin-right: 15px;
}

/**
  * Index circle text style properties
*/
.index-circle p {
  font-size: 24px;
  color: #ffffff;
  margin: 0;
}

/**
  * Wrapper properties for the card actions
*/
.card-actions-wrapper {
  display: flex;
  justify-content: center;
}

/**
  * Card buttons container style properties
*/
.card-buttons-container {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  width: 80%;
  bottom: 5px;
  padding: 0 20px;

  --btn-width: 40px !important;
  --btn-height: 40px !important;
}

/**
  * Styles for the edit button
*/
.editBtn {
  margin-right: auto;
}

/**
  * Styles for the delete button
*/
.deleteBtn {
  margin-left: auto;
}

/**
  * Styles for the play button
*/
.playBtn {
  margin-left: auto;
  margin-right: auto;
}

/**
  * This Media Query applies to all devices with a screen width of 992px or less,
  * including the iPhone SE, iPhone XR, iPhone 12 Pro, Pixel 5, Samsung Galaxy S8+,
  * Samsung Galaxy S20 Ultra, iPad Air, iPad Mini, Surface Pro 7, Surface Duo, Galaxy Fold,
  * Samsung Galaxy A51/71, Nest Hub, and Nest Hub Max.
*/
@media screen and (max-width: 992px) {
  .grid-item {
    flex-basis: calc(50% - 24px);
    margin-right: 12px;
    margin-left: 12px;
  }

  .card-buttons-container {
    width: 80%;
  }

  .index-circle {
    height: 32px !important;
    width: 32px !important;
  }

  .index-circle p {
    font-size: 16px;
  }
}

/**
  * This media query applies to the Nest Hub and the Nest Hub Max.
  * It applies to all devices with a screen width of at least 950px and at most 1420px,
  * and to devices with a width of at least 950px and at most 1024px.
*/
@media screen and (min-width: 992px) and (max-width: 1420px),
  screen and (min-width: 950px) and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  .card {
    height: 212px;
    width: 330px;
  }

  .card-buttons-container {
    width: 80%;
  }

  .index-circle {
    height: 32px !important;
    width: 32px !important;
  }

  .index-circle p {
    font-size: 16px;
  }
}

/**
  * This media query is specific to the Nest Hub Max.
  * It applies to all devices with a screen width of at least 960px and at most 1280px.
*/
@media screen and (min-width: 960px) and (max-width: 1280px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  .index-circle {
    height: 32px !important;
    width: 32px !important;
  }

  .index-circle p {
    font-size: 16px;
  }
}

/**
  * This media query applies specifically to the Nest Hub.
  * It applies to all devices with a screen width of at least 480px and at most 1024px.
*/
@media screen and (min-width: 480px) and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  .index-circle {
    height: 32px !important;
    width: 32px !important;
  }

  .index-circle p {
    font-size: 16px;
  }
}

/**
  * This media query applies specificly to Nest Hub.
*/
@media screen and (max-width: 1024px) and (max-height: 600px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr) !important;
    grid-gap: 20px !important;
  }

  .card {
    width: 180px !important;
    height: 150px !important;
  }

  .index-circle {
    height: 32px !important;
    width: 32px !important;
  }

  .index-circle p {
    font-size: 16px;
  }
}

/**
  * This media query applies to all devices with a screen width of 600px or less,
  * including the iPhone SE, iPhone XR, Pixel 5, Samsung Galaxy S8+, and Samsung Galaxy A51/71.
*/
@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }
  .grid-item {
    flex-basis: calc(100% - 24px);
    margin-right: 12px;
    margin-left: 12px;
  }

  mat-card {
    font-size: 20px;
    width: 150px !important;
    height: 140px !important;
  }

  .card-buttons-container {
    width: 80%;

    --btn-width: 32px !important;
    --btn-height: 32px !important;
  }

  .index-circle {
    height: 32px !important;
    width: 32px !important;
  }

  .index-circle p {
    font-size: 16px;
  }
}

/**
  * This media query applies to all devices with a screen width of 480px or less,
  * including the iPhone SE and Samsung Galaxy A51/71.
*/
@media screen and (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  .grid-item {
    flex-basis: 100%;
  }

  .card-buttons-container {
    width: 80%;
  }

  .index-circle {
    height: 32px !important;
    width: 32px !important;
  }

  .index-circle p {
    font-size: 16px;
  }
}

/**
  * This media query applies to all devices with a screen width of at least 481px and at most 767px,
  * including the iPhone XR and Samsung Galaxy S20 Ultra.
*/
@media screen and (min-width: 481px) and (max-width: 767px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }
  .grid-item {
    flex-basis: calc(50% - 24px);
    margin-right: 12px;
    margin-left: 12px;
  }
  mat-card {
    width: 100%;
  }

  .card-buttons-container {
    width: 80%;
  }

  .index-circle {
    height: 32px !important;
    width: 32px !important;
  }

  .index-circle p {
    font-size: 16px;
  }
}

/**
  * This media query applies to all devices with a screen width of at least 768px
  * and at most 991px, including the iPad Air.
*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }
  .grid-item {
    flex-basis: calc(50% - 24px);
    margin-right: 12px;
    margin-left: 12px;
  }
  mat-card {
    width: 100%;
  }

  .card-buttons-container {
    width: 80%;
  }

  .index-circle {
    height: 32px !important;
    width: 32px !important;
  }

  .index-circle p {
    font-size: 16px;
  }
}

/**
  * This media query applies to all devices with a screen width of 767px or less,
  * including the iPhone XR and Samsung Galaxy S20 Ultra.
*/
@media screen and (max-width: 767px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }
  .grid-item {
    flex-basis: calc(50% - 24px);
    margin-right: 12px;
    margin-left: 12px;
  }
  mat-card {
    width: 100%;
  }

  .card-buttons-container {
    width: 80%;
  }

  .index-circle {
    height: 32px !important;
    width: 32px !important;
  }

  .index-circle p {
    font-size: 16px;
  }
}

/**
  * This media query applies to all device with a maximum width of 480px,
*/
@media screen and (max-width: 480px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 0px;
  }

  .grid-item {
    flex-basis: calc(50% - 24px);
    margin-right: 12px;
    margin-left: 12px;
  }

  .card-buttons-container {
    width: 80%;
  }

  .index-circle {
    height: 32px !important;
    width: 32px !important;
  }

  .index-circle p {
    font-size: 16px;
  }
}

/**
  * This media query applies specificly to Galaxy Fold.
*/
@media screen and (max-width: 280px), screen and (max-height: 653px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }

  .grid-item {
    flex-basis: 100%;
  }

  .card-buttons-container {
    width: 80%;
  }

  .index-circle {
    height: 32px !important;
    width: 32px !important;
  }

  .index-circle p {
    font-size: 16px;
  }
}

/**
  * This media query applies specificly to IPad Air.
*/
@media screen and (width: 820px) and (height: 1180px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    padding-right: 12px;
    padding-left: 12px;
    grid-gap: 40px;
  }

  .index-circle {
    height: 32px !important;
    width: 32px !important;
  }

  .index-circle p {
    font-size: 16px;
  }
}

/**
  * This media query applies specificly to IPad Mini.
*/
@media screen and (width: 768px) and (height: 1024px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    padding-right: 12px;
    padding-left: 12px;
    grid-gap: 40px;
  }

  .card {
    width: 220px;
    height: 180px;
  }

  .index-circle {
    height: 32px !important;
    width: 32px !important;
  }

  .index-circle p {
    font-size: 16px;
  }
}

/**
  * This media query applies specificly to Surface Pro 7.
*/
@media screen and (width: 912px) and (height: 1368px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    padding-right: 12px;
    padding-left: 12px;
    grid-gap: 40px;
  }

  .card {
    width: 280px !important;
    height: 220px !important;
  }

  .index-circle {
    height: 32px !important;
    width: 32px !important;
  }

  .index-circle p {
    font-size: 16px;
  }
}

/**
  * Media query for width between 540px and 668px
**/
@media screen and (min-width: 540px) and (max-width: 668px) {
  .card-icon {
    height: 76px;
    width: 76px;
  }
  .card {
    width: 200px !important;
    height: 170px !important;
  }

  .mat-card-content-paragraph, .mat-card-content-paragraph2, .mat-card-content-paragraph3 {
    font-size: 20px;
    text-align: center;
  }
}

/**
  * Media query for width between 670px and 992px
**/
@media screen and (min-width: 670px) and (max-width: 992px) {
  .card-icon {
    height: 76px;
    width: 76px;
  }
  .card {
    width: 200px !important;
    height: 170px !important;
  }

  .mat-card-content-paragraph, .mat-card-content-paragraph2, .mat-card-content-paragraph3 {
    font-size: 20px;
    text-align: center;
  }
}

/**
  * Media query for width between 992px and 1070px
**/
@media screen and (min-width: 992px) and (max-width: 1070px) {
  .card-icon {
    height: 76px;
    width: 76px;
  }
  .card {
    width: 200px !important;
    height: 170px !important;
  }

  .mat-card-content-paragraph, .mat-card-content-paragraph2, .mat-card-content-paragraph3 {
    font-size: 20px;
    text-align: center;
  }
}