/*
 * @author: Thomas Forjan, Philipp Wildzeiss, Martin Kral
 * @version: 0.0.2
 * @since: April 2023
 * @description: Styles for reusable grid-cards component
 */
$originalCardWidth: 330px;
$originalColumn: 6;

/*
 * Grid item style properties
*/
.grid-item {
  box-sizing: border-box;
}

/*
 * Card style properties
*/
.card {
  display: flex;
  flex-direction: column;
  width: var(--card-width, $originalCardWidth);
  height: var(--card-height, 220px);
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  /*
   * This is the hover and active effect for the card.
 */
  &.hover-active {
    cursor: pointer;

    &:hover {
      background-color: rgba(80, 80, 80, 0.1);
    }

    &:active {
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);

      .card-icon {
        transform: translateY(5px);
      }
    }
  }
}

/*
 * Grid container style properties
*/
.grid-container {
  $cardWidth: $originalCardWidth;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(#{$originalColumn}, minmax(0, 1fr));
  grid-column-gap: calc((100vw - (#{$cardWidth} * #{$originalColumn})) / (#{$originalColumn} + 1));
  grid-row-gap: 25px;
}


/*
 * Card content style properties
*/
.mat-card-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/*
 * Image container style properties
*/
.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/*
 * Index circle style properties
*/
.index-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  min-height: 24px;
  min-width: 24px;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: #f29d38;
  margin-right: 15px;
}

/*
 * Index circle text style properties
*/
.index-circle p {
  font-size: 24px;
  color: #ffffff;
  margin: 0;
}

/*
 * Wrapper properties for the card actions
*/
.card-actions-wrapper {
  display: flex;
  justify-content: center;
}

/*
 * Card buttons container style properties
*/
.card-buttons-container {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  width: 80%;
  bottom: 5px;
  padding: 0 20px;
  position: absolute;

  --btn-width: 40px;
  --btn-height: 40px;
}

/*
 * Styles for the edit button
*/
.editBtn {
  margin-right: auto;
}

/*
 * Styles for the delete button
*/
.deleteBtn {
  margin-left: auto;
}

/*
 * Styles for the play button
*/
.playBtn {
  margin-left: auto;
  margin-right: auto;
}

/*
 * Styles for the title
*/
.mat-card-title {
  font-weight: bold;
  font-size: 22px;
  word-wrap: anywhere;
  padding-left: 0px !important;
  padding-right: 0px !important;
}


/*
 * Styles for global (default) font-color of title, subtitle and paragraphs
*/
.mat-card-title, .mat-card-subtitle, .mat-card-content-paragraph, .mat-card-content-paragraph2, .mat-card-content-paragraph3 {
  color: #0000008a;
}

/*
 * Styles for the subtitle
*/
.mat-card-subtitle {
  word-wrap: anywhere;
  padding-left: 0px !important;
  padding-right: 0px !important;

}

/*
 * Media queries for devices between 1800 and 2155 px width
*/
@media screen and (min-width: 1800px) and (max-width: 2155px) {

  .grid-container {
    $cardWidth: $originalCardWidth;
    $column: $originalColumn;
    @if $column > 5 {
      $column: 5;
    }
    grid-column-gap: calc((100vw - (#{$cardWidth} * #{$column})) / (#{$column} + 1));
    grid-template-columns: repeat(#{$column}, minmax(0, 1fr));
    grid-row-gap: 25px;
    align-items: center;
  }
}

/*
 * Media queries for devices between 1445 and 1799 px width
*/
@media screen and (min-width: 1445px) and (max-width: 1799px) {

  .grid-container {
    $cardWidth: $originalCardWidth;
    $column: $originalColumn;
    @if $column > 4 {
      $column: 4;
    }
    grid-column-gap: calc((100vw - (#{$cardWidth} * #{$column})) / (#{$column} + 1));
    grid-template-columns: repeat(#{$column}, minmax(0, 1fr));
    align-items: center;
  }
}

/*
 * Media queries for devices between 1090 and 1444 px width
*/
@media screen and (min-width: 1090px) and (max-width: 1444px) {

  .grid-container {
    $cardWidth: $originalCardWidth;
    $column: $originalColumn;
    @if $column > 3 {
      $column: 3;
    }
    grid-column-gap: calc((100vw - (#{$cardWidth} * #{$column})) / (#{$column} + 1));
    grid-template-columns: repeat(#{$column}, minmax(0, 1fr));
    align-items: center;
  }

}

/*
 * Media queries for devices between 940 and 1089 px width
*/
@media screen and (min-width: 940px) and (max-width: 1089px) {
  $cardWidth: 280px;
  $cardHeight: 220px;
  $column: $originalColumn;
  .grid-container {

    @if $column > 3 {
      $column: 3;
    }
    grid-column-gap: 25px;
    grid-template-columns: repeat(#{$column}, minmax(0, 1fr));
    align-items: center;
  }

  .card {
    $dynamicCardWidth: calc((100VW - (25px * (#{$column} + 1))) / #{$column});
    $cardWidth: min(#{$originalCardWidth}, #{$dynamicCardWidth});
    width: $cardWidth;
    height: $cardHeight;
  }

}

/*
 * Media queries for devices between 760 and 939 px width
*/
@media screen and (min-width: 760px) and (max-width: 939px) {
  //$cardWidth: 220px;
  $cardHeight: 220px;
  $column: $originalColumn;
  .grid-container {

    @if $column > 3 {
      $column: 3;
    }
    grid-column-gap: 25px;
    grid-template-columns: repeat(#{$column}, minmax(0, 1fr));
    align-items: center;
  }

  .card {
    $dynamicCardWidth: calc((100VW - (25px * (#{$column} + 1))) / #{$column});
    $cardWidth: min(#{$originalCardWidth}, #{$dynamicCardWidth});
    width: $cardWidth;
    height: $cardHeight;
  }

  .index-circle {
    height: 36px;
    width: 36px;
  }

  .index-circle p {
    font-size: 18px;
  }

  .mat-card-title {
    font-weight: bold;
    font-size: 18px;
    word-wrap: anywhere;
    padding-left: 0px;
    padding-right: 0px;
  }

  .mat-card-subtitle {
    font-size: 16px;
    word-wrap: anywhere;
    padding-left: 0px;
    padding-right: 0px;

  }

  .card-buttons-container {
    bottom: 0px;
    --btn-width: 32px;
    --btn-height: 32px;
  }
}

/*
 * Media queries for devices between 679 and 759 px width
*/
@media screen and (min-width: 679px) and (max-width: 759px) {
  //$cardWidth: 220px;

  $cardHeight: 220px;
  $column: $originalColumn;
  .grid-container {

    @if $column > 2 {
      $column: 2;
    }
    grid-column-gap: 25px;
    grid-template-columns: repeat(#{$column}, minmax(0, 1fr));
    align-items: center;
  }

  .card {
    $dynamicCardWidth: calc((100VW - (25px * (#{$column} + 1))) / #{$column});
    $cardWidth: min($originalCardWidth, $dynamicCardWidth);
    width: $cardWidth;
    height: $cardHeight;
  }
}

/*
 * Media queries for devices between 515 and 678 px width
*/
@media screen and (min-width: 515px) and (max-width: 678px) {
  //$cardWidth: 220px;

  $cardHeight: 220px;
  $column: $originalColumn;
  .grid-container {

    @if $column > 2 {
      $column: 2;
    }
    grid-column-gap: 25px;
    grid-template-columns: repeat(#{$column}, minmax(0, 1fr));
    align-items: center;
  }

  .card {
    $dynamicCardWidth: calc((100VW - (25px * (#{$column} + 1))) / #{$column});
    $cardWidth: min($originalCardWidth, $dynamicCardWidth);
    width: $cardWidth;
    height: $cardHeight;
  }

  .index-circle {
    height: 36px;
    width: 36px;
  }

  .index-circle p {
    font-size: 18px;
  }

  .mat-card-title {
    font-weight: bold;
    font-size: 18px;
    word-wrap: anywhere;
    padding-left: 0px;
    padding-right: 0px;
  }

  .mat-card-subtitle {
    font-size: 16px;
    word-wrap: anywhere;
    padding-left: 0px !important;
    padding-right: 0px !important;

  }

  .card-buttons-container {
    bottom: 0px;
    --btn-width: 32px;
    --btn-height: 32px;
  }
}

/*
 * Media queries for devices between 435 and 514 px width
*/
@media screen and (min-width: 435px) and (max-width: 514px) {
  //$cardWidth: 180px;
  $cardHeight: 220px;
  $column: $originalColumn;
  .grid-container {
    @if $column > 2 {
      $column: 2;
    }
    grid-column-gap: 25px;
    grid-template-columns: repeat(#{$column}, minmax(0, 1fr));
    align-items: center;
  }

  .card {
    $dynamicCardWidth: calc((100VW - (25px * (#{$column} + 1))) / #{$column});
    $cardWidth: min($originalCardWidth, $dynamicCardWidth);
    width: $cardWidth;
    height: $cardHeight;
  }

  .index-circle {
    height: 36px;
    width: 36px;
  }

  .index-circle p {
    font-size: 18px;
  }

  .mat-card-title {
    font-weight: bold;
    font-size: 16px;
    word-wrap: anywhere;
    padding-left: 0px;
    padding-right: 0px;
  }

  .mat-card-subtitle {
    font-size: 14px;
    word-wrap: anywhere;
    padding-left: 0px !important;
    padding-right: 0px !important;

  }

  .card-buttons-container {
    bottom: 0px;
    --btn-width: 32px;
    --btn-height: 32px;
  }
}

/*
 * Media queries for devices til max width of 434 px
*/
@media screen and (max-width: 434px) {
  //$cardWidth: 220px;
  $cardHeight: 220px;
  $column: $originalColumn;
  .grid-container {
    @if $column > 1 {
      $column: 1;
    }
    $dynamicCardWidth: calc((100VW - (25px * (#{$column} + 1))) / #{$column});
    $cardWidth: min($originalCardWidth, $dynamicCardWidth);
    width: $cardWidth;
    grid-template-columns: repeat(#{$column}, minmax(0, 1fr));
    align-items: center;
  }

  .card {
    $dynamicCardWidth: calc((100VW - (25px * (#{$column} + 1))) / #{$column});
    $cardWidth: min($originalCardWidth, $dynamicCardWidth);
    width: $cardWidth;
    height: $cardHeight;
  }
}

/*
 * Media queries for devices til max width of 325 px
*/
@media screen and (max-width: 325px) {
  //$cardWidth: 220px;
  $cardHeight: 220px;
  $column: $originalColumn;
  .grid-container {
    @if $column > 1 {
      $column: 1;
    }
    $dynamicCardWidth: calc((100VW - (25px * (#{$column} + 1))) / #{$column});
    $cardWidth: min($originalCardWidth, $dynamicCardWidth);
    width: $cardWidth;
    grid-template-columns: repeat(#{$column}, minmax(0, 1fr));
    align-items: center;
  }

  .card {
    $dynamicCardWidth: calc((100VW - (25px * (#{$column} + 1))) / #{$column});
    $cardWidth: min($originalCardWidth, $dynamicCardWidth);
    width: $cardWidth;
    height: $cardHeight;
  }

  .index-circle {
    height: 36px;
    width: 36px;
  }

  .index-circle p {
    font-size: 18px;
  }

  .mat-card-title {
    font-weight: bold;
    font-size: 18px;
    word-wrap: anywhere;
    padding-left: 0px;
    padding-right: 0px;
  }

  .mat-card-subtitle {
    font-size: 16px;
    word-wrap: anywhere;
    padding-left: 0px !important;
    padding-right: 0px !important;

  }

  .card-buttons-container {
    bottom: 0px;
    --btn-width: 32px;
    --btn-height: 32px;
  }
}
