<div class="grid-container">
  <ng-container *ngFor="let f of [].constructor(cards); let i = index">
    <div class="grid-item">
      <mat-card
        class="card"
        [ngClass]="{ 'hover-active': hoverActive }"
        [routerLink]="linkArray ? linkArray[i] : null"
        data-cy="card"
      >
        <mat-card-header>
          <div mat-card-avatar *ngIf="index" class="index-circle">
            <p>{{ i + 1 }}</p>
          </div>
          <mat-card-title *ngIf="matCardTitle" class="mat-card-title">{{
            matCardTitle[i]
            }}</mat-card-title>
          <mat-card-subtitle
            *ngIf="matCardSubtitle"
            class="mat-card-subtitle"
          >{{ matCardSubtitle[i] }}</mat-card-subtitle
          >
        </mat-card-header>

        <mat-card-content class="mat-card-center">
          <div class="image-container">
            <img
              mat-card-image
              class="card-icon"
              *ngIf="icon && icon[i]"
              [src]="icon[i]"
              alt="card-icon"
              data-cy="icon"
            />
          </div>
          <div class="paragraph-container">
            <p
              *ngIf="matCardContentParagraph"
              class="mat-card-content-paragraph"
              data-cy="matCardContentParagraph"
            >
              {{ matCardContentParagraph[i] }}
            </p>
            <p
              *ngIf="matCardContentParagraph2"
              class="mat-card-content-paragraph2"
            >
              {{ matCardContentParagraph2[i] }}
            </p>
            <p
              *ngIf="matCardContentParagraph3"
              class="mat-card-content-paragraph3"
            >
              {{ matCardContentParagraph3[i] }}
            </p>
          </div>
        </mat-card-content>

        <div class="card-actions-wrapper" *ngIf="showButtonContainer">
          <mat-card-actions class="card-buttons-container">
            <app-button
              *ngIf="showEditButton"
              class="editBtn"
              bgColor="#f29d38"
              icon="edit"
              [hoverActive]="true"
              hoverColor="#FFA24A"
              (btnClick)="onEdit(i)"
              matTooltip="Bearbeiten"
            ></app-button>
            <app-button
              *ngIf="showPlayButton"
              class="playBtn"
              bgColor="#f29d38"
              [playIcon]="playing[i] ? 'stop' : 'play_arrow'"
              [stopIcon]="'stop'"
              [playing]="playing[i]"
              [hoverActive]="true"
              hoverColor="#FFA24A"
              (btnClick)="togglePlayPause(i)"
              [matTooltip]="
                playing[i] ? 'Klingelton anhalten' : 'Klingelton abspielen'
              "
            ></app-button>
            <app-button
              *ngIf="showDeleteButton"
              class="deleteBtn"
              bgColor="#EB3223"
              icon="delete"
              [hoverActive]="true"
              hoverColor="#FF3626"
              [boxShadow]="
                '0 4px 4px rgba(235, 50, 35, 0.25), inset 2px 1px 4px rgba(255, 255, 255, 0.25)'
              "
              (btnClick)="onDelete(i)"
              matTooltip="Löschen"
            ></app-button>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>
  </ng-container>
</div>
