<div class="grid-container">
  <ng-container *ngFor="let f of [].constructor(cards); let i = index">
    <div class="grid-item">
      <mat-card
        [ngClass]="{ 'hover-active': hoverActive }"
        [routerLink]="linkArray ? linkArray[i] : null"
        class="card"
        data-cy="card"
      >
        <mat-card-header>
          <div *ngIf="index" class="index-circle" mat-card-avatar>
            <p>{{ i + 1 }}</p>
          </div>
          <mat-card-title *ngIf="matCardTitle" class="mat-card-title">{{
            matCardTitle[i]
          }}</mat-card-title>
          <mat-card-subtitle
            *ngIf="matCardSubtitle"
            class="mat-card-subtitle"
            >{{ matCardSubtitle[i] }}</mat-card-subtitle
          >
        </mat-card-header>

        <mat-card-content class="mat-card-center">
          <div class="image-container">
            <img
              *ngIf="icons && icons[i]"
              [src]="icons[i]"
              alt="card-icon"
              class="card-icon"
              data-cy="icons"
              mat-card-image
            />
          </div>

          <div class="paragraph-container">
            <p
              *ngIf="matCardContentParagraphs"
              class="mat-card-content-paragraph"
              data-cy="matCardContentParagraphs"
            >
              {{ matCardContentParagraphs[i] }}
            </p>
            <p
              *ngIf="matCardContentParagraphs2"
              class="mat-card-content-paragraph2"
            >
              {{ matCardContentParagraphs2[i] }}
            </p>
            <p
              *ngIf="matCardContentParagraphs3"
              class="mat-card-content-paragraph3"
            >
              {{ matCardContentParagraphs3[i] }}
            </p>
          </div>
        </mat-card-content>
        <div *ngIf="showButtonContainer" class="card-actions-wrapper">
          <mat-card-actions class="card-buttons-container">
            <app-button
              (btnClick)="onEdit(i)"
              *ngIf="showEditButton"
              [hoverActive]="true"
              bgColor="#f29d38"
              class="editBtn"
              hoverColor="#FFA24A"
              icon="edit"
              matTooltip="Bearbeiten"
            ></app-button>
            <app-button
              (btnClick)="togglePlayStop(i)"
              *ngIf="showPlayButton"
              [hoverActive]="true"
              [matTooltip]="
                playing[i] ? 'Klingelton anhalten' : 'Klingelton abspielen'
              "
              [playIcon]="playing[i] ? 'stop' : 'play_arrow'"
              [playing]="playing[i]"
              [stopIcon]="'stop'"
              bgColor="#f29d38"
              class="playBtn"
              hoverColor="#FFA24A"
            ></app-button>
            <app-button
              (btnClick)="onDelete(i)"
              *ngIf="showDeleteButton"
              [boxShadow]="
                '0 4px 4px rgba(235, 50, 35, 0.25), inset 2px 1px 4px rgba(255, 255, 255, 0.25)'
              "
              [hoverActive]="true"
              bgColor="#EB3223"
              class="deleteBtn"
              hoverColor="#FF3626"
              icon="delete"
              matTooltip="Löschen"
            ></app-button>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>
  </ng-container>
</div>
