.dialog-header {
  text-align: center;
}

.klingeldays-section {
  display: grid;
}

.klingeldays-header {
  margin-top: 0px;
  margin-bottom: 5px;
}

.klingeldays {
  display: flex;
  margin: auto;
}

.dialog-input-fields {
  display: block;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {

}


