.title {
  text-align: center;
  margin-top: 20px;
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  .title-word {
    display: inline;
  }
  .title-action {
    display: inline;
  }
}

.hero-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

:host ::ng-deep app-hero-image {
  padding: 20px;
  width: 96px !important;
  height: 96px !important;
}

.divider {
  height: 4px;
  color: #f29d38;
  background-color: #f29d38;
  border: none;
  border-radius: 20px;
  margin: 10px 50px 40px 50px;
}

.index {
  display: flex;
  justify-content: center;
  width: 100%;
}

.index-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 450px;
}

.form-fields {
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .form-field-container {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 450px;
    margin-bottom: 20px;

    .form-field {
      flex-grow: 1;
      margin-bottom: 20px;
      width: 100%;
      max-width: 450px;
    }

    .full-width {
      flex-grow: 1;
    }
  }
}


.actions-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0 auto;

  .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

:host ::ng-deep app-button .btn {
  border-radius: 24px !important;
}

// Media Query für mobile Geräte
@media screen and (max-width: 768px) {
  .title {
    font-size: 24px;
    margin-top: 10px;

    .title-word {
      display: block;
    }
    .title-action {
      display: block;
      margin-top: 20px;
    }
  }

  .form-fields {
    .form-field-container {
      margin-bottom: 10px;
    }
  }

  .input-with-upload-container {
    flex-direction: column;
  }


}

.index-form-field {
  width: 100%;
}

.klingeldays-section {
  display: grid;
  justify-content: center;
  align-items: center;
}

.mat-mdc-dialog-content {
  max-height: 700px;
}

