/*
 * @author: Thomas Forjan, Philipp Wildzeiss, Martin Kral
 * @version: 0.0.2
 * @since: April 2023
 * @description: Styles for the ringtime component
 */

/*
 * Style for the button
*/
.button {
  margin-bottom: 1rem;
  margin-right: 10px;
  width: fit-content;
  float: left;
}

/*
 * Style for grid-card container
*/
.content-container {
  clear: both;
}

/*
 * Style for the first content paragraph
*/
:host ::ng-deep .mat-card-content-paragraph {
  margin-top: 5px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 18px;
}

/*
 * Style for the second content paragraph
*/
:host ::ng-deep .mat-card-content-paragraph2 {
  margin-top: 5px;
  margin-bottom: 0;
}

/*
 * Style for the third content paragraph
*/
:host ::ng-deep .mat-card-content-paragraph3 {
  margin-top: 5px;
  margin-bottom: 0;
  font-weight: bold;
}


@media screen and (min-width: 760px) and (max-width: 939px) {
  :host ::ng-deep .mat-card-content-paragraph2 {
    font-size: 14px
  }

  :host ::ng-deep .mat-card-content-paragraph3 {
    font-size: 14px
  }
}

/*
 * Media queries for devices between 515 and 678 px width
*/
@media screen and (min-width: 515px) and (max-width: 678px) {
  :host ::ng-deep .mat-card-content-paragraph {
    font-size: 16px
  }

  :host ::ng-deep .mat-card-content-paragraph2 {
    font-size: 14px
  }

  :host ::ng-deep .mat-card-content-paragraph3 {
    font-size: 14px
  }
}

/*
 * Media queries for devices between 435 and 514 px width
*/
@media screen and (min-width: 435px) and (max-width: 514px) {
  :host ::ng-deep .mat-card-content-paragraph {
    font-size: 16px
  }

  :host ::ng-deep .mat-card-content-paragraph2 {
    font-size: 12px
  }

  :host ::ng-deep .mat-card-content-paragraph3 {
    font-size: 12px
  }

}

/*
 * Media queries for devices til max width of 325 px
*/
@media screen and (max-width: 325px) {
  :host ::ng-deep .mat-card-content-paragraph {
    font-size: 16px
  }

  :host ::ng-deep .mat-card-content-paragraph2 {
    font-size: 14px
  }

  :host ::ng-deep .mat-card-content-paragraph3 {
    font-size: 14px
  }

}

