<app-hero-image [imageUrl]="ringtimeHeroImage"></app-hero-image>

<div class="container">
  <div class="button">
    <app-button
      class="uploadBtn"
      bgColor="#F29D38"
      icon="add"
      [hoverActive]="true"
      hoverColor="#FFA24A"
      (btnClick)="openDialogAddRingtime()"
      [width]="117"
      [height]="40"
      aria-label="addRingtime"
    ></app-button>


  </div>
  <div class="content-container">
    <app-grid-cards
      [index]="true"

      [matCardTitle]="getRingtoneName() | async"
      [matCardSubtitle]="getRingtimeName() | async"
      [matCardContentParagraph]="getRingtimeStartAndEndDateAsString() | async"
      [matCardContentParagraph2]="getWeekDaysAsString() | async"
      [matCardContentParagraph3]="getRingtimePlayTimeAsString() | async"

      [cards_width]="330"
      [cards_height]="220"
      [columns]="6"
      [cards]="cardLength$ | async"


      [showButtonContainer]="true"
      [showEditButton]="true"
      [showDeleteButton]="true"
      (edit)="onEditRingtime($event)"
      (delete)="onDeleteRingtime($event)"
    ></app-grid-cards>
  </div>

</div>



