<div mat-dialog-content>
  <div class="header">
    <h1 class="title" mat-dialog-title>
      <ng-container *ngIf="data.isAddHoliday">
        <span class="title-word">Schulfrei </span>
        <span class="title-action">hinzufügen</span>
      </ng-container>
      <ng-container *ngIf="!data.isAddHoliday">
        <span class="title-word">Schulfrei </span>
        <span class="title-action">editieren</span>
      </ng-container>
    </h1>

    <div class="hero-image-container">
      <app-hero-image [imageUrl]="holidaysHeroImage"></app-hero-image>
    </div>
    <hr class="divider" />
    <div *ngIf="isEditHoliday" class="form-field-container form-fields">
      <mat-form-field appearance="fill" class="form-field index-form-field">
        <mat-label>Index</mat-label>
        <input
          [disabled]="true"
          matInput
          type="text"
          value="{{ data.index }}"
        />
      </mat-form-field>
    </div>
  </div>

  <form [formGroup]="holidayForm">
    <div class="form-field-container form-fields">
      <mat-form-field appearance="fill">
        <mat-label>Startdatum</mat-label>
        <input
          matInput
          [matDatepicker]="pickerStartDate"
          formControlName="startDate"
          placeholder="04.09.2023"
        />
        <mat-hint align="end">DD.MM.YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="pickerStartDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerStartDate></mat-datepicker>

        <ng-container
          *ngIf="
            holidayForm.get('startDate')?.hasError('required') &&
            holidayForm.get('startDate')?.touched
          "
        >
          <mat-error>Startdatum wird benötigt!</mat-error>
        </ng-container>

        <ng-container
          *ngIf="dateUtilsService.hasInvalidDateRangeError(holidayForm)"
        >
          <mat-error> Startdatum muss kleiner als Enddatum sein! </mat-error>
        </ng-container>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Enddatum</mat-label>
        <input
          matInput
          [matDatepicker]="pickerEndDate"
          formControlName="endDate"
          placeholder="04.09.2023"
        />
        <mat-hint align="end">DD.MM.YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="pickerEndDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerEndDate></mat-datepicker>

        <ng-container
          *ngIf="
            holidayForm.get('endDate')?.hasError('required') &&
            holidayForm.get('endDate')?.touched
          "
        >
          <mat-error>Enddatum wird benötigt!</mat-error>
        </ng-container>

        <ng-container
          *ngIf="dateUtilsService.hasInvalidDateRangeError(holidayForm)"
        >
          <mat-error> Enddatum muss größer als Startdatum sein! </mat-error>
        </ng-container>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Bezeichnung</mat-label>
        <input
          formControlName="holidayDescriptionFormControl"
          matInput
          required
          type="text"
        />

        <ng-container
          *ngIf="
            holidayForm
              .get('holidayDescriptionFormControl')
              ?.hasError('required') &&
            holidayForm.get('holidayDescriptionFormControl')?.touched
          "
        >
          <mat-error>Bezeichnung wird benötigt!</mat-error>
        </ng-container>
      </mat-form-field>
    </div>

    <div class="actions-container" mat-dialog-actions>
      <div class="button-container">
        <app-button
          (click)="onSubmitClick()"
          [disabled]="holidayForm.invalid"
          [height]="45"
          [hoverActive]="true"
          [width]="100"
          bgColor="#F29D38"
          class="submitBtn"
          hoverColor="#FFA24A"
          icon="check_circle"
        ></app-button>
      </div>

      <div class="button-container">
        <app-button
          (click)="onCancelClick()"
          [height]="45"
          [hoverActive]="true"
          [width]="100"
          bgColor="#B9B9B9"
          [boxShadow]="
            '0 4px 4px rgba(185, 185, 185, 0.25), inset 2px 1px 4px rgba(255, 255, 255, 0.25)'
          "
          class="cancelBtn"
          hoverColor="#C9C9C9"
          icon="cancel"
        ></app-button>
      </div>
    </div>
  </form>
</div>
