<app-hero-image [imageUrl]="ringtoneHeroImage"></app-hero-image>

<div class="container">
  <div class="button">
    <app-button
      (btnClick)="ringtoneAddDialog()"
      [height]="40"
      [hoverActive]="true"
      [width]="117"
      bgColor="#F29D38"
      class="uploadBtn"
      hoverColor="#FFA24A"
      icon="add"
      matTooltip="Hinzufügen"
    ></app-button>
  </div>
  <div class="content-container">
    <app-grid-cards
      (delete)="onDeleteRingtone($event)"
      (edit)="onEditRingtone($event)"
      (play)="togglePlayStop($event)"
      [cards]="cardLength$ | async"
      [cards_height]="220"
      [cards_width]="330"
      [index]="true"
      [matCardContentParagraphs2]="ringtoneSize$ | async"
      [matCardContentParagraphs]="ringtoneDate$ | async"
      [matCardSubtitle]="ringtoneFilename$ | async"
      [matCardTitle]="ringtoneName$ | async"
      [playing]="playing"
      [showButtonContainer]="true"
      [showDeleteButton]="true"
      [showEditButton]="true"
      [showPlayButton]="true"
      [isDeleteBtnDisabled]="checkIfAlarm$ | async"
    ></app-grid-cards>
  </div>
</div>
