<app-hero-image [imageUrl]="ringtoneHeroImage"></app-hero-image>

<div class="container">
  <div>
    <div class="button">
      <app-button
        (btnClick)="ringtoneAddDialog()"
        [height]=ButtonHeight.addButton
        [hoverActive]="true"
        [width]=ButtonWidths.addButton
        aria-label="Add"
        bgColor="#F29D38"
        class="uploadBtn"
        hoverColor="#FFA24A"
        icon="add"
        text="{{ButtonValue.addButton}}"
      ></app-button>
    </div>
    <div class="button">
      <app-button
        (btnClick)="onDeleteAllRingtones()"
        [disabled]="disableDeleteAllBtn$ | async"
        [height]=ButtonHeight.deleteAllButton
        [hoverActive]="true"
        [width]=ButtonWidths.deleteAllButton
        aria-label="DeleteAll"
        bgColor="#EB3223"
        class="deleteBtn"
        hoverColor="#FF3626"
        icon="delete"
        text="{{ButtonValue.deleteAllButton}}"
      ></app-button>
    </div>
  </div>
  <div class="content-container">
    <app-grid-cards
      (delete)="onDeleteRingtone($event)"
      (edit)="onEditRingtone($event)"
      (play)="togglePlayStop($event)"
      [cards]="cardLength$ | async"
      [cards_height]="220"
      [cards_width]="330"
      [index]="true"
      [matCardContentParagraphs2]="ringtoneSize$ | async"
      [matCardContentParagraphs]="ringtoneDate$ | async"
      [matCardSubtitle]="ringtoneFilename$ | async"
      [matCardTitle]="ringtoneName$ | async"
      [playing]="playing"
      [showButtonContainer]="true"
      [showDeleteButton]="true"
      [showEditButton]="true"
      [showPlayButton]="true"
      [isDeleteBtnDisabled]="checkIfAlarm$ | async"
    ></app-grid-cards>
  </div>
</div>
