<button
  (click)="onClick($event)"
  [class.hover-active]="hoverActive"
  [disabled]="disabled"
  [matTooltip]="tooltipText ?? ''"
  aria-label="ariaLabelText"
  class="btn"
>
  <p *ngIf="text" class="text">{{ text }}</p>
  <div *ngIf="icon || playIcon" class="icon-container">
    <mat-icon *ngIf="!playIcon; else playIconTemplate" class="icon-color">
      {{ icon }}
    </mat-icon>
    <ng-template #playIconTemplate>
      <mat-icon class="icon-color">{{
        playing ? stopIcon : playIcon
      }}</mat-icon>
    </ng-template>
  </div>
</button>
