<button
  class="btn"
  [class.hover-active]="hoverActive"
  [matTooltip]="tooltipText ?? ''"
  (click)="onClick()"
  [disabled]="disabled"
  aria-label="ariaLabelText"

>
  <div class="icon-container" *ngIf="icon || playIcon">
    <mat-icon *ngIf="!playIcon; else playIconTemplate" class="icon-color">
      {{ icon }}
    </mat-icon>
    <ng-template #playIconTemplate>
      <mat-icon class="icon-color">{{
        playing ? stopIcon : playIcon
        }}</mat-icon>
    </ng-template>
  </div>
</button>
