/*
 * @author: Thomas Forjan, Philipp Wildzeiss, Martin Kral
 * @version: 0.0.2
 * @since: April 2023
 * @description: Styles for the whole project
 */

/*
 * Selector ".container" - defines the style properties for the container element that holds the header and the main content area.
*/
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*
 * Selector ".header" - defines the style properties for the header element.
*/
header {
  position: relative;
  width: 100%;
  z-index: 100;
}

/*
 * Selector ".header app-header" - defines the style properties for the custom "app-header" component within the header element.
*/
.header app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

/*
 * Selector ".info-bar-container" - defines the style properties for the info bar container element.
*/
.info-bar-container {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  z-index: 10;
}

/*
 * Selector ".content" - defines the style properties for the content element that holds the main content area.
*/
.content {
  display: flex;
  flex-grow: 1;
  position: relative;
  margin-top: 64px;
  width: 100%;
}

/*
 * Selector ".main" - defines the style properties for the main element that holds the main content area.
*/
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: #fafafa;
  overflow-y: auto;
  position: relative;
  height: calc(100vh - 64px - 64px);
  flex-wrap: wrap;
  width: 100%;
}

/*
 * Selector ".main-content" - defines the style properties for the content within the main content area.
*/
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: calc(100% - 60px);
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 80px;
}

///*
// * Media query for small screens which styles the app-info-bar component
//*/
//@media screen and (max-width: 600px) {
//  .app-info-bar {
//    grid-template-columns: auto 1fr auto;
//  }
//}
//
///*
// * Galaxy Fold specific media query
//*/
//@media screen and (max-width: 280px), screen and (max-height: 653px) {
//  .info-bar-container {
//    position: relative;
//    margin-left: 40px;
//  }
//
//  .main-content {
//    margin-top: 0;
//  }
//}

/*
 * IPad Air specific media query
*/
@media screen and (width: 820px) and (height: 1180px) {
  .main-content {
    margin-top: 80px;
  }
}
