<div class="container">
  <header class="header">
    <app-header
      (toggleSidenav)="toggleSidebar()"
      [isSidebarOpen]="sidebarOpened"
    ></app-header>
  </header>

  <div class="content">
    <app-sidebar #sidebar></app-sidebar>
    <main>
      <div class="info-bar-container">
        <app-info-bar></app-info-bar>
      </div>
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
  <footer>
    <app-footer></app-footer>
  </footer>
</div>
