<app-hero-image [imageUrl]="playlistHeroImage"></app-hero-image>

<div class="grid-container-music">
  <app-grid-cards
    (clickMusicEvent)="onClickMusicCard($event)"
    [cards]="1"
    [cards_height]="50"
    [cards_width]="100"
    [hoverActive]="true"
    [icons]="musicIcons"
    [matCardContentParagraphs]="titles"
  ></app-grid-cards>

  <div class="playlistControlColumn">
    <span class="actualSongTextField">{{acualSongName}}</span>
    <mat-card class="centerElements playlistCard">
      <mat-card-content>
        <button (click)="playPreviousSong()" [disabled]="storeService.isAlarmEnabled" aria-label="previousSong"
                class="iconBtn"
                mat-icon-button>
          <mat-icon class="icon-display">skip_previous</mat-icon>
        </button>
        <button (click)="playPlaylist()" *ngIf="checkIfPlaying" [disabled]="storeService.isAlarmEnabled"
                aria-label="playlistPlayButton"
                class="playPauseBtn" mat-icon-button>
          <mat-icon>play_arrow</mat-icon>
        </button>
        <button (click)="stopPlaylist()" *ngIf="checkIfStopped" [disabled]="storeService.isAlarmEnabled"
                aria-label="playlistStopButton"
                class="playPauseBtn" mat-icon-button>
          <mat-icon>pause</mat-icon>
        </button>
        <button (click)="playNextSong()" [disabled]="storeService.isAlarmEnabled" aria-label="nextSong" class="iconBtn"
                mat-icon-button>
          <mat-icon class="icon-display">skip_next</mat-icon>
        </button>
      </mat-card-content>
    </mat-card>
    <div class="centerElements">
      <button (click)="setMute()" [disabled]="storeService.isAlarmEnabled" aria-label="unmuted" class="iconBtn"
              mat-icon-button>
        <mat-icon *ngIf="unmuted" class="icon-color icon-display">
          volume_up
        </mat-icon>
        <mat-icon *ngIf="muted" class="icon-color icon-display">
          volume_off
        </mat-icon>
      </button>
      <mat-slider [disabled]="storeService.isAlarmEnabled"
                  [max]="100"
                  [min]="0"
                  [step]="1"
                  class="mat-slider-style"
                  discrete showTickMarks
      >
        <input (dragEnd)="onVolumeChange($event)" [value]="volume$ | async" matSliderThumb>
      </mat-slider>
    </div>
  </div>
</div>
