<div [class.closed]="!isOpen" class="sidebar">
  <button [routerLink]="['/']" class="first-btn" mat-raised-button>
    <span class="content-wrapper">
      <span class="icon-wrapper">
        <img
          *ngIf="icons && icons.length > 0"
          [src]="icons[0]"
          class="sidebar-icon"
        />
      </span>
      <span>{{ titles[0] }}</span>
    </span>
  </button>
  <button
    *ngFor="let icon of icons.slice(1); let i = index"
    [routerLink]="[routerLinks[i + 1]]"
    class="btn"
    mat-raised-button
  >
    <span class="content-wrapper">
      <span class="icon-wrapper">
        <img *ngIf="icon" [src]="icon" class="sidebar-icon"/>
      </span>
      <span>{{ titles[i + 1] }}</span>
    </span>
  </button>
</div>
