<div class="app-info-bar">
  <div class="datetime">
    <div class="date">{{ currentDate$ | async }}</div>
    <div *ngIf="currentTime$ | async as currentTime" class="time">
      <span class="currentTime">{{ currentTime }}</span>
      <span class="currentTimeText">Uhr</span>
    </div>
  </div>
  <app-button bgColor="#f29d38" class="btn" icon="schedule"></app-button>
  <div class="next-gong">
    <div class="next-gong-label">
      {{ (holiday$ | async) ? "Schulfrei" : "Nächster Gong" }}
    </div>
    <div *ngIf="holiday$ | async as holiday" class="next-gong-time">
      {{ holiday.name }}
    </div>
    <div
      *ngIf="!((holiday$ | async) && (nextGong$ | async))"
      class="next-gong-time"
    >
      {{ nextGong$ | async }} <span *ngIf="nextGong$ | async">Uhr</span>
    </div>
    <div
      *ngIf="(noUpcomingGongs$ | async) && !(holiday$ | async)"
      class="next-gong-message"
    >
      Kein weiterer Gong heute
    </div>
  </div>
</div>
