/*
 * @author: Thomas Forjan, Philipp Wildzeiss, Martin Kral
 * @version: 0.0.2
 * @since: April 2023
 * @description: Styles for info-bar component
 */

/*
 * Styles for the info bar
*/
.app-info-bar {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-gap: 10px;
  align-items: center;
  margin-top: 10px;
  font-size: 14px;
  width: 100%;
  padding: 0 10px;

  /*
   * Styles for the datetime container
 */
  .datetime {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    white-space: nowrap;
    width: 95px;
  }

  /*
   * Styles for the date
 */
  .date {
    font-weight: bold;
  }

  /*
   * Styles for the time
 */
  .time {
    margin-top: 4px;
  }

  /*
   * Styles for the time span
  */
  .currentTime {
    display: inline-block;
    width: 57.5px;
  }

  /*
   * Styles for the time span text
  */
  .currentTimeText {
    padding-left: 5px;
  }

  /*
   * Styles for the app button
  */
  app-button {
    margin-right: 10px;
  }

  /*
   * Styles for the next gong container
 */
  .next-gong {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -10px;
    white-space: nowrap;
  }

  /*
   * Styles for the next gong label
 */
  .next-gong-label {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-self: flex-start;
  }

  .next-gong-time {
    align-self: flex-start;
  }

  /*
   * Styles for the button (orange clock container)
 */
  .btn {
    --btn-width: 40px !important;
    --btn-height: 40px !important;
  }
  
}
