/*
 * @author: Thomas Forjan, Philipp Wildzeiss, Martin Kral
 * @version: 0.0.2
 * @since: May 2023
 * @description: Styles for the choose-music component
 */

/*
 * Mobile screen size
 */
$mobile-screen-size: 870px;

/*
 * Style for the title
*/
.title {
  text-align: center;
  margin-top: 20px;
  font-size: 32px;
  font-family: "Montserrat", sans-serif;

  .title-word {
    display: inline;
  }

  .title-action {
    display: inline;
  }
}

/*
 * Style for the hero-image
*/
.hero-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/*
 * Style for the hero-image
*/
:host ::ng-deep app-hero-image {
  padding: 20px;
  width: 96px !important;
  height: 96px !important;
}

/*
 * Style for the app-button
*/
:host ::ng-deep .button-container app-button .btn {
  border-radius: 24px !important;
}

/*
 * Style for the app-button
*/
:host ::ng-deep .uploadBtn-container app-button .btn {
  border-radius: 24px !important;
}

/*
 * Style for the divider
*/
.divider {
  height: 4px;
  color: #f29d38;
  background-color: #f29d38;
  border: none;
  border-radius: 20px;
  margin: 10px 50px 40px 50px;
}

/*
 * Style for the button
*/
.button {
  margin-bottom: 1rem;
  width: fit-content;
}

/*
  * Style for the actions container
*/
.actions-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0 auto;

  .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.uploadBtn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.main-grid-content {
  display: grid;
  align-items: end;
  grid-template-columns: repeat(1, 1fr 40px 1fr);
  grid-column-gap: 20px;
  justify-content: center;
  justify-items: center;
}

.control-button-container {
  width: 40px;
}

h2 {
  text-align: center;
}

.example-container {
  width: 100%;
}

.example-listbox-container {
  display: block;
  height: 400px;
  background-color: rgba(217, 217, 217, 0.5);
  border-radius: 10px;
  overflow: auto;
}

.example-listbox-label {
  display: block;
  padding: 5px;
}

.example-listbox {
  list-style: none;
  padding: 0;
  margin: 0;
}

.example-option {
  position: relative;
  padding: 10px 5px 5px 25px;
}

.example-option[aria-selected='true']::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-image: url('../../../../../assets/images/pages/live/music.svg'); /* stylelint-disable-line */
  background-size: cover;
  position: absolute;
  left: 2px;
  bottom: 2px;
}

.example-listbox:focus .cdk-option-active {
  background: rgba(0, 0, 0, 0.1);
}

.controlBtn {
  --btn-width: 40px;
  --btn-height: 40px;
}

:host ::ng-deep .snackbar {
  white-space: pre-wrap !important;
  background: #1fcd98 !important;
}

/*
 * Media queries for devices til max width of 768 px
*/
@media screen and (max-width: 734px) {
  .example-option {
    font-size: 12px;
  }

  :host ::ng-deep .controlBtn {
    width: 32px !important;
    height: 32px !important;
  }

  .controlBtn {
    --btn-width: 36px;
    --btn-height: 36px;
  }

}

/*
 * Media queries for devices til max width of 768 px
*/
@media screen and (max-width: 674px) {
  .example-option {
    font-size: 14px;
  }

  .example-listbox-container {
    height: 200px;
  }

  :host ::ng-deep .controlBtn {
    width: 32px !important;
    height: 32px !important;
  }

  .controlBtn {
    --btn-width: 36px;
    --btn-height: 36px;
  }

  .main-grid-content {
    display: grid;
    align-items: end;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 20px;
    justify-content: center;
    justify-items: center;
  }

  .control-button-container {
    margin-top: 25px;
    display: grid;
    align-items: end;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 20px;
    justify-content: center;
    justify-items: center;
  }

}

/*
 * Media queries for devices til max width of 768 px
*/
@media screen and (max-width: 564px) {

  .control-button-container {
    margin-top: 25px;
    display: grid;
    align-items: end;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    justify-content: center;
    justify-items: center;
  }

}

/*
 * Media queries for devices til max width of 768 px
*/
@media screen and (max-width: 498px) {

  .title {
    font-size: 24px;
    margin-top: 10px;

    .title-word {
      display: block;
    }

    .title-action {
      display: block;
      margin-top: 20px;
    }
  }

}

/*
 * Media queries for devices til max width of 768 px
*/
@media screen and (max-width: 364px) {

  .example-option {
    font-size: 12px;
  }

  :host ::ng-deep .button-container app-button .btn {
    width: 70px !important;
  }
}





